.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
}
/* #twitchPlayer {
    display: inline-flex;
    
    
    width: 55vw;
    
} */
/* #winStat {
    display: inline-flex;
    
    width: 10vw;
    height: 5vh;
    border: black solid 3px;
    background-image: url("https://static-cdn.jtvnw.net/previews-ttv/live_user_ninja-640x360.jpg");
} */
#livePlayers {
    display: flex;

    justify-content: space-around;
    border: black solid 3px;
    width: 60%;
    height: 35%;
}
.playerCard {
    display: inline-flex;
    
    border: black solid 3px;
    height: 100%;
    width: 45%;
    
    background-size: cover;
}
.statKey {
    background-color: bisque;
    width: 50%; 
    display: inline-block;
}
.statValue {
    background-color: aqua;
    width: 50%;
    display: inline-block;

}