body {
    font-size: 0;
    margin: 0;
    background-image: linear-gradient(to top right, rgb(0, 0, 0), #6441A4);
}
.hide{
    visibility: hidden;
    display: none;
}
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
}
.containerVid {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: wrap-reverse;
    width: 100%;
    height: 80%;
}
#livePlayers2 {
    display: flex;
    height: 25%;
    width: 100%;
}

#livePlayersContainer{
    width:100%; 
    height: 60%;
    display: flex;
    justify-content: center;
}

#livePlayers {
    display: flex;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    overflow-y: scroll;
    flex-wrap: wrap;
    justify-content: center;
}

.livePlayersFooterContainer {
    width:100%; 
    height: 24%;
    display: flex;
    justify-content: center;
}

.livePlayersFooter {
    display: flex;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    overflow-y: scroll;
    flex-wrap: wrap;
    justify-content: center;
}

::-webkit-scrollbar { 
    display: none; 
}

.playerCard {
    display: flex;
    cursor: pointer;
    height: 49.5%;
    width: 40%;
    background-size: cover;
    position: relative;
    flex-shrink: 0;
    overflow: hidden;
    border: 1px groove white;
}

.playerCard2 {
    display: flex;
    cursor: pointer;
    height: 100%;
    width: 20%;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
}

.playerCard:hover .nameCard{
    opacity: 0.80;
    height: 35%;
}

.playerCard:hover > .nameCard{
    top: 65%;
}

.playerCard2:hover .nameCard2{
    opacity: 0.80;
    height: 100%;
}

.playerCard2:hover > .nameCard2{
    top: 0%;
}

.playerCard2 > .nameCard2{
    width: 100%;
    overflow: hidden;
}

.nameCard{
    height: 0;
    width: 100%;
    top: 100%;
    position: absolute;
    text-align: center;
    color:white;
    background-color: rgba(0, 0, 0, 0.555);
    transition: all .4s ease-out;
    display: flex;
    font-size: 1.5vw;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    color: white;
    position: absolute;
}

.nameCard2{
    height: 0;
    width: 100%;
    top: 100%;
    position: absolute;
    text-align: center;
    color:white;
    background-color: rgba(0, 0, 0, 0.555);
    transition: all .4s ease-out;
    display: flex;
    font-size: 1.5vw;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    color: white;
    position: relative;
}

.displayNone{
    display: none;
}

iframe {
    opacity: 0;
    justify-content: space-around;
    box-sizing: border-box;
    width: 60vw;
    height: 35vw;
    animation: fadeIn;
    animation-duration: 1s;
    animation-delay: 3s;
    animation-fill-mode: forwards;
}

#stats {
    display: flex;
    box-sizing: border-box;
    justify-content: space-around;
    width: 40vw;
    height: 35vw;
    flex-flow: wrap;
    
}

.statCard {
    opacity: 0;
    display: flex;
    box-sizing: border-box;
    justify-content: space-around;
    width: 48%;
    height: 23%;
    animation-name: fadeIn ;
    animation-duration: 2s;
    animation-delay: 2s;
    animation-fill-mode: forwards;
}

.statKey {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    color: aliceblue;
    display: flex;
    font-size: 2vw;
    width: 47%;
    font-family: 'Anton', sans-serif;
    background-color: rgba(0, 0, 0, 0.404);
    border-radius: 3%;
}

.statValue {
    justify-content: center;
    text-align: center;
    display: flex;
    align-items: center;
    font-size: 2vw;
    color: rgb(184, 247, 255);
    width: 53%;
    font-family: 'Oswald', sans-serif;
    background-color: rgba(53, 76, 83, 0.438);
}

.nameCard {
    
}

.name {
    display: flex;
    font-family: 'Oswald', sans-serif;
}

.game {
    display: flex;
    font-family: 'Oswald', sans-serif;
}

@keyframes fadeIn {
    from {opacity: 0;}
    to {opacity:100;}
}

#footerContainer {
    width: 100%;
    height: 20%;
    display: flex;
}

.footer {
    position: relative;
    height: 100%;
    width: 100%; 
}

.pic {
    height: 100%; 
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}

img {
    height: 60%;
    width: 35%; 
}

@font-face {
    font-family: twitch;
    src: url(font/aurora.ttf);
 }

#headerContainer {
    width: 100%;
    height: 20%; 
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.text{
    font-family: twitch;
    color: white;
    font-size: 5vmax; 
}

/* @media only screen and (min-device-width : 300px) and (max-device-width : 400px) and (orientation : portrait) {
    img {
        height: 30%;
        width: 90%;
    }
    .text {
        font-family: twitch;
        color: white;
        font-size: 3vmax;
    } */
/* } */

/* iPhone 4 ----------- */
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) and (orientation : landscape) and (-webkit-min-device-pixel-ratio : 2) {
    img {
        height: 55%;
        width: 40%;
    }
}
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) and (orientation : portrait) and (-webkit-min-device-pixel-ratio : 2) {
    img {
        height: 35%;
        width: 60%;
    }
}

/* Samsung Galaxy S5 ----------- */
@media only screen and (min-device-width: 360px) and (max-device-height: 640px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 3){
    .text {
        font-family: twitch;
        color: white;
        font-size: 5vmax;
    }
    img {
        height: 40%;
        width: 70%;
    }
}
/* iPhone 5 ----------- */
@media only screen and (min-device-width: 320px) and (max-device-height: 568px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 2){
    /* Styles */
}
    
/* @media only screen and (min-device-width: 320px) and (max-device-height: 568px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 2){
    img {
        height: 35%;
        width: 60%;
    }
} */
    
/* Pixel Portrait */
@media screen and (device-width: 411px) and (device-height: 731px) and (-webkit-device-pixel-ratio: 3) and (orientation: portrait) {
    img {     
        height: 35%;
        width: 65%;
    }
}

/* Pixel Portrait */
@media screen and (device-width: 411px) and (device-height: 823px) and (-webkit-device-pixel-ratio: 3.5) and (orientation: portrait) {
    img {     
        height: 35%;
        width: 70%;
    }
}

@media screen and (device-width: 823px) and (device-height: 411px) and (-webkit-device-pixel-ratio: 3.5) and (orientation: landscape) {
    img {
        height: 70%;
        width: 40%;
    }
}

/* iPhone 6+, 7+, 8+ ----------- */
@media only screen and (min-device-width: 414px) and (max-device-height: 736px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 2){
/* Styles */
}
    
@media only screen and (min-device-width: 414px) and (max-device-height: 736px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 2){
    img {
        height: 35%;
        width: 65%; 
    }
}

/* iPhone X ----------- */
@media only screen and (min-device-width: 375px) and (max-device-height: 812px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 3){
    img {
        height: 60%;
        width: 35%;
    }
}
@media only screen and (min-device-width: 375px) and (max-device-height: 812px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 3){
    img {
        height: 35%;
        width: 75%;
    }
}

/* iPad ----------- */

@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) {
    img {
        height: 50%;
        width: 65%;
    }
}

/* iPad Pro ----------- */
@media only screen and (min-device-width : 1024px) and (max-device-width : 1366px) and (orientation : landscape) {
    img {
        height: 60%;
        width: 50%;
    }
}








/* Large devices (desktops, 992px and up) */
/* @media (min-width: 992px) { 
    
} */

/* Extra large devices (large desktops, 1200px and up) */
/* @media (min-width: 1200px) { 
    
} */
/* Small devices (landscape phones, 576px and up) */
/* @media (min-width: 479px) { 
    img {
        height: 50%;
        width: 60%;
    }
} */
/* Medium devices (tablets, 768px and up) */
/* @media (min-width: 768px) { 
    img {
        height: 55%;
        width: 50%; 
    }
} */