body {
    font-size: 0;
    margin: 0;
    background-image: linear-gradient(to top right, rgb(0, 0, 0), #6441A4);
}
.containerSecondPage{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: wrap;
    width: 100%;
    height: 100vh;
    
}
.modal-body > p {
    font-size: 2rem;
}
.modal-content {
    background-color: rgb(113, 90, 156);
}
#arrows{
    display: flex;
    justify-content: center;
    align-items: center;
    order: 2;
}
.glyphicon{
    font-size: 5rem;
    color: rgb(206, 255, 249);


}
.glyphicon:hover{
    font-size: 5rem;
    color: rgb(126, 193, 255);


}
#arrow-right #arrow-left{
    
    
    display: flex;
    justify-content: center;
    align-items: center;
}
#arrow-right:hover #arrow-left:hover{
    color: rgb(148, 205, 255);
    display: flex;
    font-size: 5rem;
    justify-content: center;
    align-items: center;
}
.hide{
    visibility: hidden;
    display: none;
}
.container1 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
}

.livePlayersSecondPage {
    display: flex;
    height: 35vh;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.livePlayersContainer{
    width:100%; 
    height: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
}
.livePlayersContainerSecondPage{
    width:100%; 
    height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    order: 2;
}

.livePlayers {
    display: flex;
    width:70%;
    height: 70%;
    overflow-x: scroll;
    overflow-y: hidden;
    flex-direction: row;
    justify-content: flex-start;
    order: 1;
}

.livePlayersFooterContainer {
    width:100%; 
    height: 24%;
    display: flex;
    justify-content: center;
}

.livePlayersFooter {
    display: flex;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    /* overflow-y: scroll; */
    overflow-y: hidden;
    flex-wrap: wrap;
    justify-content: center;
}

::-webkit-scrollbar { 
    display: none; 
}

.playerCard {
    display: flex;
    cursor: pointer;
    height: 100%;
    width: 50%;
    background-size: cover;
    position: relative;
    flex-shrink: 0;
    overflow: hidden;
    border: 1px groove white;
}

.playerCardSecondPage {
    display: flex;
    cursor: pointer;
    height: 100%;
    width: 20%;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
}

.playerCard:hover .nameCard{
    opacity: 0.80;
    height: 35%;
}

.playerCard:hover > .nameCard{
    top: 65%;
}

.playerCardSecondPage:hover .nameCard2{
    opacity: 0.80;
    height: 100%;
}

.playerCardSecondPage:hover > .nameCard2{
    top: 0%;
}

.playerCardSecondPage > .nameCard2{
    width: 100%;
    overflow: hidden;
}

.nameCard{
    height: 0;
    width: 100%;
    top: 100%;
    position: absolute;
    text-align: center;
    color:white;
    background-color: rgba(0, 0, 0, 0.555);
    transition: all .4s ease-out;
    display: flex;
    font-size: 1.5vw;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    color: white;
    position: absolute;
}

.nameCard2{
    height: 0;
    width: 100%;
    top: 100%;
    position: absolute;
    text-align: center;
    color:white;
    background-color: rgba(0, 0, 0, 0.555);
    transition: all .4s ease-out;
    display: flex;
    font-size: 1.5vw;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    color: white;
    position: relative;
}

.displayNone{
    display: none;
}

iframe {
    opacity: 0;
    justify-content: space-around;
    box-sizing: border-box;
    width: 59vw;
    height: 33vw;
    animation: fadeIn;
    animation-duration: 1s;
    animation-delay: 3s;
    animation-fill-mode: forwards;
}

#stats {
    display: flex;
    box-sizing: border-box;
    justify-content: space-around;
    width: 39vw;
    height: 33vw;
    flex-flow: wrap;
    
}

.statCard {
    opacity: 0;
    display: flex;
    box-sizing: border-box;
    justify-content: space-around;
    width: 48%;
    height: 23%;
    animation-name: fadeIn ;
    animation-duration: 2s;
    animation-delay: 2s;
    animation-fill-mode: forwards;
}

.statKey {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    color: aliceblue;
    display: flex;
    font-size: 2vw;
    width: 47%;
    font-family: 'Anton', sans-serif;
    background-color: rgba(0, 0, 0, 0.404);
    border-radius: 3%;
}

.statValue {
    justify-content: center;
    text-align: center;
    display: flex;
    align-items: center;
    font-size: 2vw;
    color: rgb(184, 247, 255);
    width: 53%;
    font-family: 'Oswald', sans-serif;
    background-color: rgba(53, 76, 83, 0.438);
}


.name {
    display: flex;
    font-family: 'Oswald', sans-serif;
}

.game {
    display: flex;
    font-family: 'Oswald', sans-serif;
}

@keyframes fadeIn {
    from {opacity: 0;}
    to {opacity:100;}
}

#footerContainer {
    width: 100%;
    height: 20%;
    display: flex;
}

.footer {
    position: relative;
    height: 100%;
    width: 100%; 
}

.pic {
    height: 100%; 
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}

img {
    /* height: 60%; */
    width: 55%; 
}

@font-face {
    font-family: twitch;
    src: url(font/aurora.ttf);
 }

#headerContainer {
    width: 100%;
    height: 5%; 
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.text{
    font-family: twitch;
    color: white;
    font-size: 2vmax; 
    cursor: pointer;
}


  @media screen and (orientation: portrait){
    iframe {
        opacity: 0;
        justify-content: space-around;
        box-sizing: border-box;
        width: 95vw;
        height: 55vw;
        animation: fadeIn;
        animation-duration: 1s;
        animation-delay: 3s;
        animation-fill-mode: forwards;
    }
    #stats {
        display: flex;
        box-sizing: border-box;
        justify-content: space-around;
        width: 95vw;
        height: 35vw;
        flex-flow: wrap;
        
    }
    
    img {
       
        width: 65%; 
    } 
  }

  .loader {
    border: 16px solid #7a358d;
    border-radius: 50%;
    border-top: 16px solid #682291;
    width: 100px;
    height: 100px;
    top: 30%;
    position: absolute;

    -webkit-animation: spin 2s linear infinite; 
    animation: spin 2s linear infinite;
  }
  
  
  @-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }



