body {
    font-size: 0;
    margin: 0;
    background-image: linear-gradient(to top right, rgb(0, 0, 0), #6441A4);
}
.modal-body > p {
    font-size: 2rem;
}
.modal-content {
    background-color: rgb(113, 90, 156);
}
.containerSecondPage{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: wrap-reverse;
    width: 100%;
    height: 100vh;
}
#arrows{
    display: flex;
    justify-content: center;
    align-items: center;
}
.glyphicon{
    font-size: 5rem;
    color: rgb(206, 255, 249);


}
.glyphicon:hover{
    font-size: 5rem;
    color: rgb(126, 193, 255);


}
#arrow-right #arrow-left{
    
    
    display: flex;
    justify-content: center;
    align-items: center;
}
#arrow-right:hover #arrow-left:hover{
    color: rgb(148, 205, 255);
    display: flex;
    font-size: 5rem;
    justify-content: center;
    align-items: center;
}
.hide{
    visibility: hidden;
    display: none;
}
.container1 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
}

.livePlayersSecondPage {
    display: flex;
    height: 35vh;
    width: 100%;
}

.livePlayersContainer{
    width:100%; 
    height: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.livePlayersContainerSecondPage{
    width:100%; 
    height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.livePlayers {
    display: flex;
    width:50%;
    height: 70%;
    overflow-x: scroll;
    overflow-y: hidden;
    flex-direction: row;
    justify-content: flex-start;
}

.livePlayersFooterContainer {
    width:100%; 
    height: 24%;
    display: flex;
    justify-content: center;
}

.livePlayersFooter {
    display: flex;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    /* overflow-y: scroll; */
    overflow-y: hidden;
    flex-wrap: wrap;
    justify-content: center;
}

::-webkit-scrollbar { 
    display: none; 
}

.playerCard {
    display: flex;
    cursor: pointer;
    height: 100%;
    width: 50%;
    background-size: cover;
    position: relative;
    flex-shrink: 0;
    overflow: hidden;
    border: 1px groove white;
}

.playerCardSecondPage {
    display: flex;
    cursor: pointer;
    height: 100%;
    width: 20%;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
}

.playerCard:hover .nameCard{
    opacity: 0.80;
    height: 35%;
}

.playerCard:hover > .nameCard{
    top: 65%;
}

.playerCardSecondPage:hover .nameCard2{
    opacity: 0.80;
    height: 100%;
}

.playerCardSecondPage:hover > .nameCard2{
    top: 0%;
}

.playerCardSecondPage > .nameCard2{
    width: 100%;
    overflow: hidden;
}

.nameCard{
    height: 0;
    width: 100%;
    top: 100%;
    position: absolute;
    text-align: center;
    color:white;
    background-color: rgba(0, 0, 0, 0.555);
    transition: all .4s ease-out;
    display: flex;
    font-size: 1.5vw;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    color: white;
    position: absolute;
}

.nameCard2{
    height: 0;
    width: 100%;
    top: 100%;
    position: absolute;
    text-align: center;
    color:white;
    background-color: rgba(0, 0, 0, 0.555);
    transition: all .4s ease-out;
    display: flex;
    font-size: 1.5vw;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    color: white;
    position: relative;
}

.displayNone{
    display: none;
}

iframe {
    opacity: 0;
    justify-content: space-around;
    box-sizing: border-box;
    width: 60vw;
    height: 35vw;
    animation: fadeIn;
    animation-duration: 1s;
    animation-delay: 3s;
    animation-fill-mode: forwards;
}

#stats {
    display: flex;
    box-sizing: border-box;
    justify-content: space-around;
    width: 40vw;
    height: 35vw;
    flex-flow: wrap;
    
}

.statCard {
    opacity: 0;
    display: flex;
    box-sizing: border-box;
    justify-content: space-around;
    width: 48%;
    height: 23%;
    animation-name: fadeIn ;
    animation-duration: 2s;
    animation-delay: 2s;
    animation-fill-mode: forwards;
}

.statKey {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    color: aliceblue;
    display: flex;
    font-size: 2vw;
    width: 47%;
    font-family: 'Anton', sans-serif;
    background-color: rgba(0, 0, 0, 0.404);
    border-radius: 3%;
}

.statValue {
    justify-content: center;
    text-align: center;
    display: flex;
    align-items: center;
    font-size: 2vw;
    color: rgb(184, 247, 255);
    width: 53%;
    font-family: 'Oswald', sans-serif;
    background-color: rgba(53, 76, 83, 0.438);
}

.nameCard {
    
}

.name {
    display: flex;
    font-family: 'Oswald', sans-serif;
}

.game {
    display: flex;
    font-family: 'Oswald', sans-serif;
}

@keyframes fadeIn {
    from {opacity: 0;}
    to {opacity:100;}
}

#footerContainer {
    width: 100%;
    height: 20%;
    display: flex;
}

.footer {
    position: relative;
    height: 100%;
    width: 100%; 
}

.pic {
    height: 100%; 
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}

img {
    height: 60%;
    width: 35%; 
}

@font-face {
    font-family: twitch;
    src: url(font/aurora.ttf);
 }

#headerContainer {
    width: 100%;
    height: 20%; 
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.text{
    font-family: twitch;
    color: white;
    font-size: 5vmax; 
}

/*Small Screen Sizes*/
/* @media (max-height: 414px) {
    #livePlayers {
        display: flex;
        width: 89%;
        height: 100%;
        overflow-x: hidden;
        overflow-y: scroll;
        flex-wrap: wrap;
        justify-content: center;
    }
    #footerContainer {
        display: none;
    }
    .text {
        font-family: twitch;
        color: white;
        font-size: 2.5vmax;
    }
    .playerCard {
        display: flex;
        cursor: pointer;
        height: 100%;
        width: 50%;
        background-size: contain;
        position: relative;
        flex-shrink: 0;
        overflow: hidden;
        border: 1px groove white;
    }
} */
/* Desktops */
@media (min-width: 1281px) {
  }
  
/* Laptops/Desktops */
@media (min-width: 1025px) and (max-width: 1280px) {
    img {
        height: 65%;
        width: 40%;
    }
}

/* Tablets, Ipads, Portrait */
@media (min-width: 768px) and (max-width: 1024px) {
    img {
        height: 60%;
        width: 50%;
    }
}

/* Low Res Tablets, Mobile Phones (Landscape) */
@media (min-width: 481px) and (max-width: 767px) {
    img {
        height: 45%;
        width: 60%;
    }
}

/*Small Screen Sizes*/
@media (max-width: 481px) {
    img {
        height: 35%;
        width: 60%;
    }
}

 
/* iPhone 6+, 7+, 8+ ----------- */
@media only screen and (min-device-width: 414px) and (max-device-height: 736px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 2){
/* Styles */
}
    
@media only screen and (min-device-width: 414px) and (max-device-height: 736px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 2){
    img {
        height: 35%;
        width: 65%; 
    }
}


/* iPad ----------- */

@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) {
    img {
        height: 50%;
        width: 65%;
    }
}

/* iPad Pro ----------- */
@media only screen and (min-device-width : 1024px) and (max-device-width : 1366px) and (orientation : landscape) {
    img {
        height: 60%;
        width: 50%;
    }
}

/* iPhone 5 ----------- */
@media only screen and (min-device-width: 320px) and (max-device-height: 568px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 2){
    img {
        height: 65%;
        width: 45%;
    }
}

/* iPhone 4 ----------- */
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) and (orientation : landscape) and (-webkit-min-device-pixel-ratio : 2) {
    img {
        height: 55%;
        width: 40%;
    }
    
}
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) and (orientation : portrait) and (-webkit-min-device-pixel-ratio : 2) {
    img {
        height: 35%;
        width: 60%;
    }
    .text {
        font-family: twitch;
        color: white;
        font-size: 6vmax;
    }
}

/* iPhone X ----------- */
@media only screen and (min-device-width: 375px) and (max-device-height: 812px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 3){
    img {
        height: 60%;
        width: 35%;
    }
}
@media only screen and (min-device-width: 375px) and (min-device-height: 812px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 3){
    img {
        height: 35%;
        width: 75%;
    }
    .text {
        font-family: twitch;
        color: white;
        font-size: 5vmax;
    }
}

.loader {
    color: #ffffff;
    font-size: 50px;
    text-indent: -9999em;
    overflow: hidden;
    width: 1em;
    height: 1em;
    border-radius: 50%;
    margin: 72px auto;
    position: absolute;
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-animation: load6 1.7s infinite ease, round 1.7s infinite ease;
    animation: load6 1.7s infinite ease, round 1.7s infinite ease;
  }
  @-webkit-keyframes load6 {
    0% {
      box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
    }
    5%,
    95% {
      box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
    }
    10%,
    59% {
      box-shadow: 0 -0.83em 0 -0.4em, -0.087em -0.825em 0 -0.42em, -0.173em -0.812em 0 -0.44em, -0.256em -0.789em 0 -0.46em, -0.297em -0.775em 0 -0.477em;
    }
    20% {
      box-shadow: 0 -0.83em 0 -0.4em, -0.338em -0.758em 0 -0.42em, -0.555em -0.617em 0 -0.44em, -0.671em -0.488em 0 -0.46em, -0.749em -0.34em 0 -0.477em;
    }
    38% {
      box-shadow: 0 -0.83em 0 -0.4em, -0.377em -0.74em 0 -0.42em, -0.645em -0.522em 0 -0.44em, -0.775em -0.297em 0 -0.46em, -0.82em -0.09em 0 -0.477em;
    }
    100% {
      box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
    }
  }
  @keyframes load6 {
    0% {
      box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
    }
    5%,
    95% {
      box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
    }
    10%,
    59% {
      box-shadow: 0 -0.83em 0 -0.4em, -0.087em -0.825em 0 -0.42em, -0.173em -0.812em 0 -0.44em, -0.256em -0.789em 0 -0.46em, -0.297em -0.775em 0 -0.477em;
    }
    20% {
      box-shadow: 0 -0.83em 0 -0.4em, -0.338em -0.758em 0 -0.42em, -0.555em -0.617em 0 -0.44em, -0.671em -0.488em 0 -0.46em, -0.749em -0.34em 0 -0.477em;
    }
    38% {
      box-shadow: 0 -0.83em 0 -0.4em, -0.377em -0.74em 0 -0.42em, -0.645em -0.522em 0 -0.44em, -0.775em -0.297em 0 -0.46em, -0.82em -0.09em 0 -0.477em;
    }
    100% {
      box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
    }
  }
  @-webkit-keyframes round {
    0% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }
  @keyframes round {
    0% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }
  